# Dev tools
*.swp
notes
out.txt

# Folders created in the build process
.cache
build
build-cache
bundle
dist
dist-test
dist-build
node_modules
public

# http-server executable
http-server/http-server

# Code Editors
.vscode
